
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #96CEB4;
      --secondary-color: #588C7E;
    
  --font-size-base: 1rem;
  --border-radius: 1.25rem;
  --transition-speed: 0.3s;

  --shadow-light: 5px 5px 15px rgba(0,0,0,0.1),-5px -5px 15px rgba(255,255,255,0.1);
  --shadow-dark: 8px 8px 20px rgba(0,0,0,0.12),-8px -8px 20px rgba(255,255,255,0.12);

  --card-shadow: 8px 8px 16px rgba(0, 0, 0, 0.05), -8px -8px 16px rgba(255, 255, 255, 0.8);
  --glass-background: rgba(255, 255, 255, 0.2);
  --glass-blur: 8px;
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
  }